<h1>Question #<%= @question.id %></h1>

<p>
  <b>Q:</b>
  <%= @question.q %>
</p>

<p>
  <b>People:</b>
  <%= @question.people_id %>
</p>

<p>
  <b>User:</b>
  <%= @question.user_id %>
</p>

<p>
  <b>Votecount:</b>
  <%= @question.votecount %>
</p>


